canvas {
    position: absolute;
    top: 40px;
}

#bullet-canvas {
  z-index: 30;
}

#enemy-canvas {
  z-index: 20;
}

#ship-canvas {
    z-index: 10
}

#background-canvas {
    z-index: 1;
    background-color: #000;
}

.sprite-image {
    display: none;
}

#results {
  z-index: 40;
  width: 1200px;
  position: absolute;
  background-color: #1C74FF;
  border-radius: 6px 6px 0 0;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

#results div {
  display: inline-block;
  width: 49%;
}
