canvas {
    position: absolute;
}

#bullet-canvas {
  z-index: 30;
}

#enemy-canvas {
  z-index: 20;
}

#ship-canvas {
    z-index: 10
}

#background-canvas {
    z-index: 1;
    background-color: #000;
}

.sprite-image {
    display: none;
}
